# Variables

In [3]:
rent = 1220
gas = 202.5
groceries = 305.6

total = rent + gas + groceries
print(total)

1728.1

In [4]:
rent = 1400
item1 = "rent"
item2 = "gas"
item3 = "groceries"
print("Expense items:", item1, item2, item3)

Expense items: rent gas groceries

# Numbers

In [6]:
12 + 34

46

In [7]:
3 -4

-1

In [8]:
4*5

20

In [9]:
11 % 2

1

In [10]:
#power
3**2

9

In [11]:
nyc_bal = 188
bal_pitt = 247
total_distance = nyc_bal + bal_pitt
total_distance

435

In [12]:
mph = 65
time = total_distance/mph
time

6.6923076923076925

In [13]:
round(time,2)

6.69

In [14]:
round(time, 3)

6.692

In [15]:
10 + 2 * 3

16

In [16]:
(10 + 2) * 3

36

In [17]:
6 - 5.7

0.2999999999999998

In [18]:
round(6 - 5.7,2)

0.3

# Strings

In [19]:
text = "ice cream"
text

'ice cream'

In [20]:
text[0]

'i'

In [21]:
text[1]

'c'

In [24]:
text[0:3]

'ice'

In [25]:
text[4:9]

'cream'

In [26]:
text[4:]

'cream'

In [27]:
text[:3]

'ice'

In [30]:
text = "let's learn python"
text

"let's learn python"

In [31]:
text = 'hello "world"'
text

'hello "world"'

In [37]:
#three single quotes breaks words
address = '''1 purple street
new york
usa east
usa'''
print(address)

1 purple street
new york
usa east
usa

In [39]:
s1 = "hello"
s2 = "world"

s1 + ' ' + s2

'hello world'

In [41]:
s = "total states in usa # "
num = 25
s+str(num)

'total states in usa # 25'

# List

In [42]:
item1 = "bread"
item2 = "pasta"
item3 = "fruits"

items = ["bread", "pasta", "fruits", "veggies"]
items

['bread', 'pasta', 'fruits', 'veggies']

In [43]:
items[0]

'bread'

In [44]:
items[2]

'fruits'

In [45]:
items[0] = 'chips'
items

['chips', 'pasta', 'fruits', 'veggies']

In [46]:
items[0:2]

['chips', 'pasta']

In [47]:
items[-1]

'veggies'

In [50]:
items = ["bread", "pasta", "fruits", "veggies"]
items.append("butter")
items

['bread', 'pasta', 'fruits', 'veggies', 'butter']

In [51]:
items.insert(1,'butter')
items

['bread', 'butter', 'pasta', 'fruits', 'veggies', 'butter']

In [52]:
food = ["bread", "pasta", "fruits"]
bathroom = ["shampoo", "soap"]
items = food + bathroom
items

['bread', 'pasta', 'fruits', 'shampoo', 'soap']

In [53]:
len(items)

5

In [54]:
"bread" in items

True

In [55]:
"soda" in items

False