In [8]:
import pandas as pd
df = pd.read_csv('Datas/nyc_Jan_Jun_2016_weat.csv')
df

           DATE  LATITUDE  LONGITUDE    SNOW  PRCP    SNWD  TAVG  TMAX  TMIN
0      20160101  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999 -9999
1      20160102  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999 -9999
2      20160103  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999 -9999
3      20160104  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999 -9999
4      20160105  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999 -9999
...         ...       ...        ...     ...   ...     ...   ...   ...   ...
32202  20170709  40.73417  -73.41694 -9999.0  0.00 -9999.0 -9999    82    67
32203  20170710  40.73417  -73.41694 -9999.0  0.00 -9999.0 -9999    81    64
32204  20170711  40.73417  -73.41694 -9999.0  0.06 -9999.0 -9999    86    74
32205  20170712  40.73417  -73.41694 -9999.0  0.00 -9999.0 -9999    90    74
32206  20170713  40.73417  -73.41694 -9999.0  0.01 -9999.0 -9999    91    68

[32207 rows x 9 columns]

In [6]:
df['SNOW'].max() #get the maximum value in a column

68.0

In [11]:
df['DATE'][df['SNOW'] == 68] #list the date where snow value is 68

14813    20170313
Name: DATE, dtype: int64

In [13]:
df.fillna(0, inplace=True) #fill empty spaces
df['LATITUDE'].mean() #average latitude

40.75836441954055

In [ ]:
df.fillna