In [2]:
import pandas as pd
df = pd.read_csv('Datas/weather.csv')
#use either csv or dataframe for structure
df

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           32          2  Sunny

In [5]:
df.shape #gives number of rows and colums

(6, 4)

In [7]:
rows, columns = df.shape
rows

6

In [8]:
columns

4

In [9]:
df.head() #prints few rows

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain

In [10]:
df.head(2) #prints two rows

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny

In [11]:
df.tail() #last few rows

          day  temperature  windspeed  event
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           32          2  Sunny

In [12]:
df.tail(1)

          day  temperature  windspeed  event
5  01/06/2017           32          2  Sunny

In [13]:
df[2:5] #prints row to to five (last exclusive)

          day  temperature  windspeed event
2  01/03/2017           28          2  Snow
3  01/04/2017           24          7  Snow
4  01/05/2017           32          4  Rain

In [14]:
df.columns #prints columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [15]:
df.day #prints values of a column

0    01/01/2017
1    01/02/2017
2    01/03/2017
3    01/04/2017
4    01/05/2017
5    01/06/2017
Name: day, dtype: object

In [17]:
df['event'] #same as df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [18]:
type(df['event']) #column type

pandas.core.series.Series

In [19]:
df

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           32          2  Sunny

In [20]:
df[['event', 'day', 'temperature']] #print selected columns

   event         day  temperature
0   Rain  01/01/2017           32
1  Sunny  01/02/2017           35
2   Snow  01/03/2017           28
3   Snow  01/04/2017           24
4   Rain  01/05/2017           32
5  Sunny  01/06/2017           32

In [21]:
df

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           32          2  Sunny

In [23]:
df['temperature'].max()

35

In [24]:
df['temperature'].mean()

30.5

In [25]:
df['temperature'].min()

24

In [26]:
df['temperature'].std() #standard deviation

3.8858718455450894

In [27]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [29]:
df[df.temperature >= 32] #select values from df where temparature >= 32

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
4  01/05/2017           32          4   Rain
5  01/06/2017           32          2  Sunny

In [30]:
df[df.temperature == df.temperature.max()]

          day  temperature  windspeed  event
1  01/02/2017           35          7  Sunny

In [31]:
df['day'][df.temperature == df.temperature.max()] #prints day where condition is true

1    01/02/2017
Name: day, dtype: object

In [32]:
df[['day', 'temperature']][df.temperature == df.temperature.max()] #prints temperature and day where condition is true

          day  temperature
1  01/02/2017           35

In [33]:
df

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           32          2  Sunny

In [34]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [37]:
df.set_index('day', inplace=True) #set day as index, inplace=True to modify original data

In [38]:
df.loc['01/04/2017']

temperature      24
windspeed         7
event          Snow
Name: 01/04/2017, dtype: object

In [40]:
df.reset_index(inplace=True)
df

   index         day  temperature  windspeed  event
0      0  01/01/2017           32          6   Rain
1      1  01/02/2017           35          7  Sunny
2      2  01/03/2017           28          2   Snow
3      3  01/04/2017           24          7   Snow
4      4  01/05/2017           32          4   Rain
5      5  01/06/2017           32          2  Sunny

In [41]:
df.set_index('event', inplace=True)
df

       index         day  temperature  windspeed
event
Rain       0  01/01/2017           32          6
Sunny      1  01/02/2017           35          7
Snow       2  01/03/2017           28          2
Snow       3  01/04/2017           24          7
Rain       4  01/05/2017           32          4
Sunny      5  01/06/2017           32          2

In [42]:
df.loc['Snow']

       index         day  temperature  windspeed
event
Snow       2  01/03/2017           28          2
Snow       3  01/04/2017           24          7